@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kdam+Thmor+Pro&family=Kenia&family=Nerko+One&family=Oswald&family=Poppins:wght@300;500&family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: 'Poppins';
    transition: all 1s;
}

.header-responsive{
    position: fixed;
    bottom: 10px;
    left: 43vw;
    z-index: 10000;
}
.navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.menuToogle{
    position: relative;
    width: 65px;
    height: 65px;
    background: #ff4886;
    border: 5px solid #130e40;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translateY(-30px);
}
.menuToogle::before{
    content: '+';
    position: absolute;
    font-size: 3rem;
    color: #fff;
    transition: 1.5s;

}
.menuToogle.active:before{
    transform: rotate(255deg);
}
.menu{
    position: absolute;
    width: 360px;
    height: 70px;
    background: #fff;
    border-radius: 70px;

}
.menuToogle i{
    position: absolute;
    inset: 0;
}
.menuToogle i::before{
    content: '';
    position: absolute;
    top: 22px;
    left: -23px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 3px -6px black;
}
.menuToogle i::after{
    content: '';
    position: absolute;
    top: 22px;
    left: -23px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -3px -6px black;
}
.menu{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 70px;
    transform: translateY(-30px);
} 
.menuToogle.active ~ .menu{
    width: 360px;
    height: 70px;
    transition: translateY(-30px);
    transition-delay:1s,0.5s,0.5s ;
}
.menu ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    line-height: 80px;
}
.menu ul li {
    list-style: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
    transition-delay:calc(0s + var(--i)) ;
}
.menuToogle.active ~ .menu ul li{
    opacity: 1;
    visibility: visible;
    transition-delay:calc(0.75s + var(--i)) ;
    transform: translateY(0px);
}
.menu ul li:nth-child(3){
    width: 30px;
}
.menu ul li a{
    display: block;
    font-size: 2em;
    text-decoration: none;
    color: #555;
}
.menu ul li:hover a{
    color: #ff4886;
}
.main{
    width: 100%;
    background-color: rgb(215, 236, 250);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
section{
    border-radius: 10px;
    background-color: #0f0c29;
    color: white;
}
.inicio{
    width: 95%;
    height: 100vh;
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}
.inicio-presentacion{
    width: 100%;
    font-size: 1rem;
    height: 8rem;
}
.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.boton{
    width: 150px;
    height: 60px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Poppins';
    transition: all 0.5s;
}
.boton:hover{
    background-color: #ff4886;
}
.foto{
    width: 600px;
    height: 65vh;
}
.foto img{
    width: 100%;
    height: 100%;
}

.list-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-skill{
    width: 250px;
    height: 250px; 
    border-radius: 50%;
    margin: 0.8rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.card-skill img{
    width: 95%;
}
.logo-html{
    background-color: rgb(227, 72, 16);
}
.logo-css{
    background-color: rgb(78, 228, 255);
}
.logo-react{
    background-color: rgb(18, 18, 66);
}
.logo-node{
    background-color: green;
}
.logo-python{
    background-color: rgb(23, 76, 201);
}
.logo-java{
    background-color: rgb(254, 254, 254);
}
.logo-git{
    background-color: #fff;
}
.card-skill:hover{
    border-radius: 0;
}
.exp{
    width: 98%;
    margin: 5px;
}
.list-exp{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.card-exp{
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 3px;
    display: flex;
    overflow: hidden;
    z-index: 3;

}
.card-img-exp{
    width: 100%;
    position: absolute;
}
.card-img-exp img{
    width: 100%;
    height: 400px;
} 
.card-content-exp{
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    z-index: 4;
    background-color: #130e40;
    transition: all 1s;
    transform: translateY(400px);
}
.card-content-exp p{
    width: 100%;
}
.card-content-exp a{
    width: 100%;
    text-decoration: none;
    color: white;
}
.card-exp:hover .card-content-exp{
    transform: translateY(0);
}

.contact{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-contact{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.social-network-list{
    width: 100%;
    list-style: none;
    background-color: #0f0c29;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social-network-list::before{
    content: attr(data-text);
    transform: translate(-50%,calc(-50% + 120px));
    font-size: 10vh;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
}
.social-network{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px solid #fff;
    width: 85px;
    height: 85px;
    border-radius: 5px;
    overflow: hidden;
}
.social-network a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    text-decoration: none;
    color:#fff;
    transition: 1s;
}
.social-network a i{
    font-size: 3em;
}
.social-network a:hover.facebook{
    background: #3329f6;
}
.social-network a:hover.whatsapp{
    background: #13b016;
}
.social-network a:hover.whatsapp{
    background: #13b016;
}.social-network a:hover.linkedin{
    background: #1d8ed0;
}
.social-network a:hover.telegram{
    background: #1dbadd;
}
.form{
    width: 90%;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin: 3rem;
}
.email-info, .asunto-info{
    margin: 1rem;
    width: auto;
}

label{
    margin: 0 1rem;
}
.email-info input, .asunto-info input{
    width: 300px;
    height: 40px;
    padding: 3px;
}

.body-msg{
    margin: 10px;
}
.body-msg textarea{
    padding: 5px;
    width: 95%;
    height: 400px;
}
.send-msg{
    width: 50%;
    height: 50px;
    background-color: #13b016;
    margin: 10px auto;
    border-radius: 3px ;
}
.send-msg h3{
    color: #0f0c29;
}
.footer{
    background-color: #0f0c29;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer h3{
    color: white;
    font-family: 'Roboto';
}